html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(70, 72, 167, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

.bigquote {
  width: 40%;
  font-size: 300%;
}

.biggerquote {
  font-size: 150%;
}

.mainstyle {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-color: black;
  border-style: inset;
  border-radius: 50px;
  background-color:dimgray;
}


h1 {
  font-size: 300%;
}

.textlink {
  font-size: 100%;
  text-decoration: none;
  color: black;
}

.textlink:hover {
  color: darkblue;
  font-size: 120%;
}

.linkbutton {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color:blue;
  border-radius: 20px;
}

.linkbutton:hover {
  background-color: darkblue;
}

.references {
  color: gray;
}